:root {
  --main: #292C33;
  --fade: #5E635C;
  --blush: #f1abb9;
  --princess: #FFDBE2;
  --back: #838A80;
  --done: #A7B0A4;
}

body {
  overflow: hidden;
  background-color: var(--back);
  margin: 5vh auto;
}

.container {
  box-sizing: content-box;
  margin: 0vh auto;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 400px;
}

.text {
  font-size: clamp(50px, 4.5vw, 5vw);
  font-family: 'Geologica', sans-serif;
  letter-spacing: 6px;
  color: var(--fade);
  text-align: center;
  align-self: flex-end;
  z-index: -2;
  position: relative;
  max-width: 50vw;
  min-width: calc(15vw + 400px);
  min-height: 22vh;
  padding: 0px 5vw;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
}

#current {
  font-size: clamp(65px, 6vw, 6.5vw);
  color: var(--main);
  align-self: flex-start;
  padding: 0px;
  max-width: 1920px;
  width: 400px;
  overflow: visible;
  z-index: -1;
}

#current.fx {
  animation-name: fade, moveleft;
  animation-duration: 100ms;
  animation-iteration-count: 1;
}

#prev {
  color: var(--done);
  text-align: right;
  overflow: visible;
}

#prev.fx {
  animation-name: fadeleft;
  animation-duration: 400ms;
  animation-iteration-count: 1;
}

#next {
  text-align: left;
}

#next.fx {
  animation-name: fadeleft;
  animation-duration: 400ms;
  animation-iteration-count: 1;
}

@keyframes pinkfade {
  to {
    color: var(--blush);
  }
}

@keyframes fade {
  to {
    opacity: 0;
  }
}

@keyframes moveleft {
  to {
    transform: translateX(-10vw);
  }
}

@keyframes fadeleft {
  25% {
    transform: translateX(-10vw);
    opacity: 0;
  }

  26% {
    transform: translateX(0vw);
  }

  100% {
    opacity: 100;
  }
}

#score {
  font-size: clamp(65px, 6vw, 6.5vw);
  margin-bottom: 3vh;
  font-family: 'Aoboshi One', serif;
  color: var(--blush);
}

#score.fx {
  animation-name: pinkfade;
  animation-duration: 1s;
  animation-iteration-count: 1;
}

#input {
  font-size: clamp(65px, 6vw, 6.5vw);
  color: var(--blush);
  border: 0px;
  resize: none;
  z-index: 1;
  background: transparent;
  outline: none;
  word-wrap: break-word;
  max-width: 90%;
  overflow: hidden;
  caret-color: transparent;
}

#input.fx {
  animation-name: fade, pinkfade;
  animation-duration: 300ms;
  animation-iteration-count: 1;
}

#input:focus::placeholder {
  color: transparent;
}

#cherry {
  color: var(--blush);
}

#footer {
  font-size: 30px;
  font-family: 'Quicksand', sans-serif;
  letter-spacing: 3px;
  min-height: 0;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 1vh;
}